.message-view {
  width: calc(100% - var(--aside-section-width));
  height: 100%;
  background-color: black;
}

.message-view {
  display: inline-block;
  background-color: var(--background-color-3);
}
.container {
  position: relative;
  display: flex;
  height: 80px;
  background-color: var(--background-color-3);
  cursor: pointer;
}
.left {
  padding: 15px 8px;
  position: absolute;
  left: 0;
}

.right {
  padding: 15px 8px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
}
